<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <div class='error-msg'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>
    </div>

    <h1><%= current_user ? current_user.username.capitalize : "" %> is currently logged in. </h1>

    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
